<div>
  <p><i>Selection reqiured</i></p>
  <div class="format">
    <h4>Format Defaulter, Delinquency Statement</h4>
    <a class="usa-link" href="javascript:void(0);">Help</a>
  </div>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem beatae
    reprehenderit quod cum tempore, soluta sit culpa nobis nam debitis
    consequuntur commodi nisi. Velit provident placeat consequuntur nesciunt
    necessitatibus pariatur?
  </p>
  <fieldset class="usa-fieldset">
    <div class="usa-radio margin-bottom-2">
      <input
        class="usa-radio__input"
        id="historical-truth"
        type="radio"
        name="historical-figures"
        value="sojourner-truth"
      />
      <label class="usa-radio__label" for="historical-truth"
        >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum
        provident maxime quidem eum, consequuntur sed, sunt facilis esse</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="historical-douglass"
        type="radio"
        name="historical-figures"
        value="frederick-douglass"
      />
      <label class="usa-radio__label" for="historical-douglass"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        consequuntur, sint eaque ipsa beatae vero corrupti voluptatibus.</label
      >
    </div>
  </fieldset>
</div>
