<div class="margin-right">
  <div
    class="tablet:grid-col-4 us-card margin-bottom-4 tablet:margin-bottom-0 usa-card__container"
  >
    <nav aria-label="Side navigation">
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item li-header">
          APPLICATION SECTIONS
        </li>
        <li class="usa-sidenav__item">
          <a href="">Application Information</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="">Licences Selection</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="">Agreements</a>
        </li>
        <li class="usa-sidenav__item">
            <a href="">OwnerShip</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Agreements</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Summary</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Certify and Submit</a>
          </li>
      </ul>
    </nav>
  </div>
</div>
