<div class="summary-container">
  <aas-header></aas-header>
  <hr />
  <div class="usa-flex">
    <div>
      <div>
        <p><i>* indicates required field</i></p>
        <div class="format">
          <h4>Certify Auction Application</h4>
          <a class="usa-link">Help</a>
        </div>
        <p>
          bby clicking "Certify and submit" button below I certify the following
        </p>
      </div>
      <div class="item" *ngFor="let item of data">
        <p>{{ item.id }},</p>
        <p>{{ item.title }}</p>
      </div>
      <hr />
      <aas-signature></aas-signature>
      <hr />
      <div class="btns">
        <button class="usa-button">back</button>
        <div>
          <button class="usa-button">Summary Page</button>
          <button class="usa-button btn">Certify & submit</button>
        </div>
      </div>
    </div>
    <aas-side-nav></aas-side-nav>
  </div>
</div>
