
.summary-container {
    padding: 20px;
    width: 90%;
    margin: auto;
  }
  
  .item{
    display: flex;
    gap: 1rem;
  }

  .usa-flex{
    display: flex;
  }

  .format{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.btns {
  display: flex;
  justify-content: space-between;
}
.btn{
  background: green;
}
