<aas-header></aas-header>
<hr />
<div class="conformation__contaier">
  <div class="w-full">
    <div class="format">
      <h4>conformation of submission</h4>
      <a class="usa-link" href="javascript:void(0);">Help</a>
    </div>
    <div class="conform_card padding-2">
      <b
        ><p class="margin-0 padding-0">
          Your Auction Application has been recieved 7/10/2023
        </p></b
      >
      <ul class="usa-list margin-0">
        <li>your file number is <b>12341341234</b></li>
        <li>
          please <a class="usa-link">print</a> your application for your records
        </li>
      </ul>
    </div>
    <hr />
    <div>
      <b><p>Additional Link(s)</p></b>
      <div class="grid-row flex-column">
        <a class="usa-link grid-col margin-bottom-2" href="javascript:void(0);"
          >Upfront Payment Calculator/Form 159</a
        >
        <a class="usa-link grid-col" href="javascript:void(0);">Refund Form</a>
      </div>
    </div>
    <hr />
    <div class="btns">
      <button class="usa-button">back</button>
      <button class="usa-button btn">Auction Application Manager</button>
    </div>
  </div>
  <aas-side-nav></aas-side-nav>
</div>
