<footer>
  <div class="container text-md-left mt-5 footer-section">
    <!-- Grid row -->
    <div class="mt-3 footergriditems row">
      <!-- Grid column first footer -->
      <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4 col-xl-4 footer-first grid-item">
        <div class="block block--fcc-contact-footer block--footerone">
          <div class="fcc-contact-footer__field-text">
            <div class="field__label fw-bold visually-hidden">
              Text </div>
            <div class="field__item">Federal Communications Commission<br>
              45 L Street NE<br>
              Washington, DC 20554</div>
          </div>
          <div class="fcc-contact-footer__field-link">
            <div class="field__label fw-bold visually-hidden">
              Link </div>
            <div class="field__items">
              <div class="field__item"><a href="tel:+18882255322">Phone: 1-888-225-5322</a></div>
              <div class="field__item"><a href="tel:+18444322275">ASL Video Call: 1-844-432-2275</a></div>
              <div class="field__item"><a href="tel:+18664180232">Fax: 1-866-418-0232</a></div>
              <div class="field__item"><a href="/about/contact">Contact Us</a></div>
              <div class="field__item"><a href="/visiting-fcc-facilities">Visiting FCC Facilities</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column second footer -->
      <div class="col-md col-xs-12 col-sm-12  footer-second grid-item">
        <div class="block block--fcc-contact-footer block--footertwo">
          <div class="fcc-contact-footer__field-link">
            <div class="field__label fw-bold visually-hidden">
              Link </div>
            <div class="field__items">
              <div class="field__item"><a href="/general/website-notices">Website Policies &amp; Notices</a></div>
              <div class="field__item"><a href="/privacy">Privacy Policy</a></div>
              <div class="field__item"><a href="/foia">FOIA</a></div>
              <div class="field__item"><a href="/general/no-fear-act-data">No Fear Act Data</a></div>
              <div class="field__item"><a href="/digitalstrategy">Digital Strategy</a></div>
              <div class="field__item"><a href="/general/open-government-fcc">Open Government Directive</a></div>
              <div class="field__item"><a href="/plain-writing-fcc">Plain Writing Act</a></div>
              <div class="field__item"><a href="/news-events/rss-feeds-and-email-updates-fcc">RSS Feeds &amp; Email
                  Updates</a></div>
              <div class="field__item"><a href="/accessibility/program">Accessibility</a></div>
              <div class="field__item"><a href="/vulnerability-disclosure-policy">Vulnerability Disclosure Policy</a>
              </div>
              <div class="field__item"><a href="https://USA.gov">USA.gov</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column third footer -->
      <div class="col-md col-xs-12 col-sm-12   footer-third grid-item">
        <div class="block block--fcc-contact-footer block--footerthree">
          <div class="fcc-contact-footer__field-text">
            <div class="field__label fw-bold visually-hidden">
              Text </div>
            <div class="field__item">CATEGORIES</div>
          </div>
          <div class="fcc-contact-footer__field-link">
            <div class="field__label fw-bold visually-hidden">
              Link </div>
            <div class="field__items">
              <div class="field__item"><a href="/about/overview">About the FCC</a></div>
              <div class="field__item"><a href="/proceedings-actions">Proceedings &amp; Actions</a></div>
              <div class="field__item"><a href="/licensing">Licensing &amp; Databases</a></div>
              <div class="field__item"><a href="/reports-research">Reports &amp; Research</a></div>
              <div class="field__item"><a href="/news-events">News &amp; Events</a></div>
              <div class="field__item"><a href="/consumers">For Consumers</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column fourth footer -->
      <div class="col-md col-xs-12 col-sm-12   footer-fourth grid-item">
        <div class="block block--fcc-contact-footer block--footerfour">
          <div class="fcc-contact-footer__field-text">
            <div class="field__label fw-bold visually-hidden">
              Text </div>
            <div class="field__item">BUREAUS &amp; OFFICES</div>
          </div>
          <div class="fcc-contact-footer__field-link">
            <div class="field__label fw-bold visually-hidden">
              Link </div>
            <div class="field__items">
              <div class="field__item"><a href="/consumer-and-governmental-affairs">Consumer</a></div>
              <div class="field__item"><a href="/enforcement">Enforcement</a></div>
              <div class="field__item"><a href="/inspector-general">Inspector General</a></div>
              <div class="field__item"><a href="/media">Media</a></div>
              <div class="field__item"><a href="/public-safety-and-homeland-security">Public Safety</a></div>
              <div class="field__item"><a href="/space">Space</a></div>
              <div class="field__item"><a href="/wireless-telecommunications">Wireless</a></div>
              <div class="field__item"><a href="/wireline-competition">Wireline</a></div>
              <div class="field__item"><a href="/offices-bureaus">Offices</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xl-12 social-media-region">
        <div class="group-social-media">
          <ul class="list-inline social-media-group">
            <li class="list-inline-item"><a href="https://twitter.com/fcc" class="social-media twitter"
                target="_blank" rel="noopener noreferrer" aria-describedby="audioeye_new_window_message">Twitter</a>
            </li>
            <li class="list-inline-item"><a href="https://www.facebook.com/FCC" class="social-media facebook"
                target="_blank" rel="noopener noreferrer" aria-describedby="audioeye_new_window_message">Facebook</a>
            </li>
            <li class="list-inline-item"><a href="https://www.youtube.com/fcc" class="social-media youtube"
                target="_blank" rel="noopener noreferrer" aria-describedby="audioeye_new_window_message">Youtube</a>
            </li>
            <li class="list-inline-item"><a href="https://www.instagram.com/fcc" class="social-media instagram"
                target="_blank" rel="noopener noreferrer" aria-describedby="audioeye_new_window_message">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="fcc-seal">
        Federal Communications Commission
      </div>
    </div>
    <!-- Grid row -->
  </div>
</footer>