<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text"
          ><a href="/" title="<Project title>">Certify & Submit</a></em
        >
      </div>
      <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
            <a href="" class="usa-nav-link"
            ><span>Instructions</span></a
          >
        <li class="usa-nav__primary-item">
            <a href="" class="usa-nav-link"
            ><span>attachments</span></a
          >
        </li>
        <li class="usa-nav__primary-item">
            <a href="" class="usa-nav-link"
            ><span>Print</span></a
          >
        </li>
        <li class="usa-nav__primary-item">
          <a href="javascript:void(0);" class="usa-nav-link"
            ><span>Help</span></a
          >
        </li>
        <li class="usa-nav__primary-item">
            <a href="javascript:void(0);" class="usa-nav-link"
              ><span>quit</span></a
            >
          </li>
      </ul>
    </nav>
  </div>
</header>