<aas-gov-banner></aas-gov-banner>
<nav
  id="top-navigation"
  aria-labelledby="main-navigation"
  aria-label="header #1">
  <div class="container fcc-navbar p-0" id="main-navigation">
    <div class="navbar_left">
      <div class="block block--fcc-branding">
        <a href="/" class="header__logo navbar-brand d-flex align-items-center " aria-label="" id="logo">
          <img src="../../assets/images/logo.svg" alt="Federal Communications Commission logo" class="mr-2" width="175"
            height="auto">
        </a>
      </div>
    </div>
    <!-- <div class="navbar_middle" aria-label="Main Navigation">
      <nav class="nav__tabs navbar" aria-labelledby="browse-by" aria-label="header #2">
        <div class="collapse navbar-collapse" id="mainNavbar">
          <div class="nav">
            <ul id="browse-by" class="nav nav-tabs" role="tablist">
              <li class="nav-item category" role="presentation">
                <a class="nav-link" id="nav-category-tab" data-bs-toggle="tab" href="#nav-category" role="tab"
                  aria-controls="nav-category" aria-selected="false" aria-haspopup="true" aria-expanded="false"
                  tabindex="-1">
                  <div id="browse-by-category" class="text-prefix">Browse by</div>
                  <div class="upper">category</div>
                  <div class="pointer"></div>
                </a>
              </li>
              <li class="nav-item bureaus-and-offices" role="presentation">
                <a class="nav-link active" id="nav-bureaus-and-offices-tab" data-bs-toggle="tab"
                  href="#nav-bureaus-and-offices" role="tab" aria-controls="nav-bureaus-and-offices"
                  aria-selected="true" aria-haspopup="true" aria-expanded="true">
                  <div id="browse-by-bureaus-and-offices" class="text-prefix">Browse by</div>
                  <div class="upper">bureaus &amp; offices</div>
                  <div class="pointer"></div>
                </a>
              </li>
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
              aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
              <svg class="svg-inline--fa fa-bars fa-w-14 fa-2x" aria-hidden="true" focusable="false" data-prefix="fas"
                data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor"
                  d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                </path>
              </svg>
            </button>
          </div>
          <div class="nav__menus tab-content" id="nav-tabContent">
            <div class="tab-pane fade container" id="nav-category" role="tabpanel" aria-labelledby="nav-category-tab">

              <ul class="menu">
                <li id="" class="about-the-fcc bg-net about-the-fcc menu-item dropdown" style="">
                  <a href="/about/overview" class="about-the-fcc menu-item dropdown dropdown-toggle mobile-only"
                    aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                    data-drupal-link-system-path="node/4"> <span class="link-title"> About the FCC </span>
                  </a>
                  <a href="/about/overview" class="about-the-fcc menu-item dropdown dropdown-toggle desktop-only"
                    aria-haspopup="true" aria-expanded="false" data-drupal-link-system-path="node/4"> <span
                      class="link-title"> About the FCC </span>
                  </a>
                  <div class="dropdown-menu">
                    <div class="menu-container">
                      <a class="dropdown-item " href="/about/overview">About the FCC Overview</a>
                      <a class="dropdown-item " href="/about-fcc/what-we-do">What We Do</a>
                      <a class="dropdown-item " href="/about-fcc/rulemaking-process">Rulemaking Process</a>
                      <a class="dropdown-item " href="/about/leadership">Leadership</a>
                      <a class="dropdown-item " href="/about-fcc/fcc-initiatives">FCC Initiatives</a>
                      <a class="dropdown-item " href="/about-fcc/finding-people-fcc">Find People</a>
                      <a class="dropdown-item " href="/about-fcc/organizational-charts-fcc">Organizational Charts</a>
                      <a class="dropdown-item " href="/about-fcc/advisory-committees-fcc">Advisory Committees</a>
                      <a class="dropdown-item " href="/about-fcc/jobs-internships">Jobs and Internships</a>
                      <a class="dropdown-item " href="/about-fcc/contracting">Contracting</a>
                      <a class="dropdown-item " href="/about/strategic-plans-budget">Strategic Plans &amp; Budgets</a>
                      <a class="dropdown-item " href="/about/contact">Contact</a>
                      <a class="dropdown-item  featured hide-mobile"
                        href="/document/fy-2024-congressional-budget-justification">FY 2024 Congressional Budget
                        Justification</a>
                      <a class="dropdown-item " href="/privacy">Privacy Policy</a>
                      <a class="dropdown-item " href="/accessibility/program">Accessibility Program</a>
                      <div class="white-panel"></div>
                    </div>
                  </div>
                </li>
                <li id="" class="proceedings-actions proceedings--actions menu-item dropdown" style="">
                  <a href="/proceedings-actions"
                    class="proceedings--actions menu-item dropdown dropdown-toggle mobile-only" aria-haspopup="true"
                    aria-expanded="false" data-toggle="dropdown" data-drupal-link-system-path="node/5"> <span
                      class="link-title"> Proceedings &amp; Actions </span>
                  </a>
                  <a href="/proceedings-actions"
                    class="proceedings--actions menu-item dropdown dropdown-toggle desktop-only" aria-haspopup="true"
                    aria-expanded="false" data-drupal-link-system-path="node/5"> <span class="link-title"> Proceedings
                      &amp; Actions </span>
                  </a>
                  <div class="dropdown-menu">
                    <div class="menu-container">
                      <a class="dropdown-item " href="/proceedings-actions">Proceedings and Actions Overview</a>
                      <a class="dropdown-item " href="https://www.fcc.gov/ecfs">Electronic Comment Filing System
                        (ECFS)</a>
                      <a class="dropdown-item " href="/documents">Commission Documents (EDOCS)</a>
                      <a class="dropdown-item " href="/rulemaking/most-active-proceedings">Most Active Proceedings</a>
                      <a class="dropdown-item " href="/items-on-circulation">Items on Circulation</a>
                      <a class="dropdown-item " href="/proceedings-actions/ex-parte">Ex-Parte</a>
                      <a class="dropdown-item " href="/proceedings-actions/daily-digest">Daily Digest</a>
                      <a class="dropdown-item " href="/proceedings-actions/mergers-and-acquisitions">Mergers &amp;
                        Transactions</a>
                      <a class="dropdown-item " href="/auctions">Auctions</a>
                      <div class="white-panel"></div>
                    </div>
                  </div>
                </li>
                <li id="" class="licensing-databases licensing--databases menu-item dropdown" style="">
                  <a href="/licensing" data-featured-item="0" show-only-megamenu-desktop="0"
                    class="licensing--databases menu-item dropdown dropdown-toggle mobile-only" aria-haspopup="true"
                    aria-expanded="false" data-toggle="dropdown" data-drupal-link-system-path="node/27800"> <span
                      class="link-title"> Licensing &amp; Databases </span>
                  </a>
                  <a href="/licensing" data-featured-item="0" show-only-megamenu-desktop="0"
                    class="licensing--databases menu-item dropdown dropdown-toggle desktop-only" aria-haspopup="true"
                    aria-expanded="false" data-drupal-link-system-path="node/27800"> <span class="link-title"> Licensing
                      &amp; Databases </span>
                  </a>
                  <div class="dropdown-menu">
                    <div class="menu-container">
                      <a class="dropdown-item " href="/licensing">Overview</a>
                      <a class="dropdown-item " href="/licensing-databases/licensing">About Licensing</a>
                      <a class="dropdown-item " href="/licensing-databases/search-fcc-databases">Databases</a>
                      <a class="dropdown-item " href="/licensing-databases/fees">Fees</a>
                      <a class="dropdown-item " href="/licensing-databases/forms">Forms</a>
                      <a class="dropdown-item " href="/licensing-databases/commission-registration-system-fcc">FCC
                        Registration System (CORES)</a>
                      <a class="dropdown-item " href="/licensing-databases/system-notifications">System Alerts &amp;
                        Notifications</a>
                      <a class="dropdown-item  hide-mobile" href="https://www.fcc.gov/asr">ASR</a>
                      <a class="dropdown-item  hide-mobile"
                        href="https://licensing.fcc.gov/prod/cdbs/forms/prod/cdbs_ef.htm">CDBS</a>
                      <a class="dropdown-item  hide-mobile" href="/licensing-databases/fcc-user-login">CEFS</a>
                      <a class="dropdown-item  hide-mobile" href="https://www.fcc.gov/coals">COALS</a>
                      <a class="dropdown-item  hide-mobile"
                        href="/licensing-databases/commission-registration-system-fcc">CORES</a>
                      <a class="dropdown-item  hide-mobile"
                        href="http://licensing.fcc.gov/prod/callsign/main.html">CSRS</a>
                      <a class="dropdown-item  hide-mobile"
                        href="https://transition.fcc.gov/pshs/services/cip/dirs/dirs.html">DIRS</a>
                      <a class="dropdown-item  hide-mobile" href="https://www.fcc.gov/eas">EA</a>
                      <a class="dropdown-item  hide-mobile" href="https://www.fcc.gov/ecfs/">ECFS</a>
                      <a class="dropdown-item  hide-mobile" href="/edocs">EDOCS</a>
                      <a class="dropdown-item  hide-mobile" href="https://apps.fcc.gov/oetcf/els/index.cfm">ELS</a>
                      <a class="dropdown-item  hide-mobile" href="https://apps.fcc.gov/etfs/">ETFS</a>
                      <a class="dropdown-item  hide-mobile" href="/general/eas-test-reporting-system">ETRS</a>
                      <a class="dropdown-item  hide-mobile"
                        href="http://fjallfoss.fcc.gov/General_Menu_Reports/">GenMen</a>
                      <a class="dropdown-item  hide-mobile"
                        href="/wireless/bureau-divisions/mobility-division/amateur-radio-service">HAM<div
                          class="subtitle">Amateur Radio Service</div></a>
                      <a class="dropdown-item  hide-mobile" href="https://apps.fcc.gov/oetcf/kdb/index.cfm">KDB</a>
                      <a class="dropdown-item  hide-mobile"
                        href="/media/television/childrens-educational-television-reporting-form-2100-schedule-h">KIDVID</a>
                      <a class="dropdown-item  hide-mobile"
                        href="https://enterpriseefiling.fcc.gov/dataentry/login.html">LMS</a>
                      <a class="dropdown-item  hide-mobile" href="https://www.fcc.gov/icfs">ICFS</a>
                      <a class="dropdown-item  hide-mobile" href="/network-outage-reporting-system-nors">NORS</a>
                      <a class="dropdown-item  hide-mobile" href="https://publicfiles.fcc.gov">PIF</a>
                      <a class="dropdown-item  hide-mobile" href="/pirate-database">PIRATE</a>
                      <a class="dropdown-item  hide-mobile"
                        href="https://fccprod.servicenowservices.com/psix-esix">PSIX-ESIX</a>
                      <a class="dropdown-item  hide-mobile"
                        href="https://apps.fcc.gov/cores/html/coresintermediate.html">RLD</a>
                      <a class="dropdown-item  hide-mobile" href="https://apps.fcc.gov/tcb/">TCB</a>
                      <a class="dropdown-item  hide-mobile" href="https://www.fcc.gov/uls">ULS</a>
                      <a class="dropdown-item  hide-mobile" href="https://urs.fcc.gov">URS</a>
                      <a class="dropdown-item  hide-mobile"
                        href="https://esupport.fcc.gov/vpd-data/login!input.action">VPD</a>
                      <div class="white-panel"></div>
                    </div>
                  </div>
                </li>
                <li id="" class="report-research bg-net reports--research menu-item dropdown" style="">
                  <a href="/reports-research" class="reports--research menu-item dropdown dropdown-toggle mobile-only"
                    aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                    data-drupal-link-system-path="node/6"> <span class="link-title"> Reports &amp; Research </span>
                  </a>
                  <a href="/reports-research" class="reports--research menu-item dropdown dropdown-toggle desktop-only"
                    aria-haspopup="true" aria-expanded="false" data-drupal-link-system-path="node/6"> <span
                      class="link-title"> Reports &amp; Research </span>
                  </a>
                  <div class="dropdown-menu">
                    <div class="menu-container">
                      <a class="dropdown-item " href="/reports-research">Reports and Data Overview</a>
                      <a class="dropdown-item " href="/reports-research/reports">Reports</a>
                      <a class="dropdown-item " href="/reports-research/data">Data</a>
                      <a class="dropdown-item " href="/reports-research/guides">Guides</a>
                      <a class="dropdown-item " href="/reports-research/maps">Maps</a>
                      <a class="dropdown-item " href="/reports-research/working-papers">Working Papers</a>
                      <a class="dropdown-item " href="/reports-research/developers">For Developers</a>
                      <a class="dropdown-item  featured" href="https://docs.fcc.gov/public/attachments/DOC-381830A1.pdf"
                        aria-describedby="audioeye_pdf_message">Fiscal Year 2022-2026 Strategic Plan</a>
                      <a class="dropdown-item " href="/reports-research/workload-and-operations-dashboard">Workload
                        Dashboard</a>
                      <div class="white-panel"></div>
                    </div>
                  </div>
                </li>
                <li id="" class="news-events bg-net news--events menu-item dropdown" style="">
                  <a href="/news-events" class="news--events menu-item dropdown dropdown-toggle mobile-only"
                    aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                    data-drupal-link-system-path="node/7"> <span class="link-title"> News &amp; Events </span>
                  </a>
                  <a href="/news-events" class="news--events menu-item dropdown dropdown-toggle desktop-only"
                    aria-haspopup="true" aria-expanded="false" data-drupal-link-system-path="node/7"> <span
                      class="link-title"> News &amp; Events </span>
                  </a>
                  <div class="dropdown-menu">
                    <div class="menu-container">
                      <a class="dropdown-item " href="/news-events">News and Events Overview</a>
                      <a class="dropdown-item " href="/news-events/headlines">Headlines</a>
                      <a class="dropdown-item " href="/news-events/events/open-commission-meetings">Commission
                        Meetings</a>
                      <a class="dropdown-item " href="/news-events/events">Events</a>
                      <a class="dropdown-item " href="/news-events/events/archived">Archived Events</a>
                      <a class="dropdown-item " href="/news-events/podcast">FCC Podcast</a>
                      <a class="dropdown-item " href="/news-events/notes">Notes from the FCC</a>
                      <a class="dropdown-item " href="/news-events/blog">FCC Blog</a>
                      <a class="dropdown-item " href="/news-events/rss-feeds-and-email-updates-fcc">RSS Feeds &amp;
                        Email Signup</a>
                      <a class="dropdown-item  featured"
                        href="/news-events/events/2023/06/june-2023-open-commission-meeting">June 2023 Open Commission
                        Meeting</a>
                      <div class="white-panel"></div>
                    </div>
                  </div>
                </li>
                <li id="" class="for-consumers menu-item dropdown" style="">
                  <a href="/consumers" data-featured-item="0" show-only-megamenu-desktop="0"
                    class="for-consumers menu-item dropdown dropdown-toggle mobile-only" aria-haspopup="true"
                    aria-expanded="false" data-toggle="dropdown" data-drupal-link-system-path="node/8"> <span
                      class="link-title"> For Consumers </span>
                  </a>
                  <a href="/consumers" data-featured-item="0" show-only-megamenu-desktop="0"
                    class="for-consumers menu-item dropdown dropdown-toggle desktop-only" aria-haspopup="true"
                    aria-expanded="false" data-drupal-link-system-path="node/8"> <span class="link-title"> For Consumers
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <div class="menu-container">
                      <a class="dropdown-item " href="/consumers">Help Center Overview</a>
                      <a class="dropdown-item " href="https://consumercomplaints.fcc.gov/hc/en-us">Consumer Complaint
                        Center</a>
                      <a class="dropdown-item " href="/general/dro">Disability Rights</a>
                      <a class="dropdown-item " href="/news-events/headlines/509">Headlines</a>
                      <a class="dropdown-item " href="/consumers/social-media">Social Media</a>
                      <a class="dropdown-item  circularlink col-03 featured"
                        href="/consumers/guides/stop-unwanted-robocalls-and-texts">Robocalls<div class="subtitle">Avoid
                          Phone Scams</div></a>
                      <a class="dropdown-item  circularlink col-02 featured"
                        href="https://consumercomplaints.fcc.gov?from=home">Consumer Complaint Center<div
                          class="subtitle">File a Complaint</div></a>
                      <div class="white-panel"></div>
                    </div>
                  </div>
                </li>
              </ul>




            </div>
            <div class="tab-pane fade container active show" id="nav-bureaus-and-offices" role="tabpanel"
              aria-labelledby="nav-bureaus-and-offices-tab">

              <ul class="menu">
                <li id="" class="consumer menu-item" style="">
                  <a href="/consumer-governmental-affairs" data-featured-item="0" show-only-megamenu-desktop="0"
                    data-drupal-link-system-path="node/1615"> <span class="link-title"> Consumer </span>
                  </a>
                </li>
                <li id="" class="enforcement menu-item" style="">
                  <a href="/enforcement" data-featured-item="0" show-only-megamenu-desktop="0"
                    data-drupal-link-system-path="node/1616"> <span class="link-title"> Enforcement </span>
                  </a>
                </li>
                <li id="" class="media menu-item" style="">
                  <a href="/media" data-featured-item="0" show-only-megamenu-desktop="0"
                    data-drupal-link-system-path="node/1624"> <span class="link-title"> Media </span>
                  </a>
                </li>
                <li id="" class="public-safety menu-item" style="">
                  <a href="/public-safety-and-homeland-security" data-featured-item="0" show-only-megamenu-desktop="0"
                    data-drupal-link-system-path="node/1635"> <span class="link-title"> Public Safety </span>
                  </a>
                </li>
                <li class="space menu-item">
                  <a href="/space" data-drupal-link-system-path="node/257164"> <span class="link-title"> Space </span>
                  </a>
                </li>
                <li id="" class="wireless menu-item" style="">
                  <a href="/wireless-telecommunications" data-featured-item="0" show-only-megamenu-desktop="0"
                    data-drupal-link-system-path="node/1638"> <span class="link-title"> Wireless </span>
                  </a>
                </li>
                <li id="" class="wireline menu-item" style="">
                  <a href="/wireline-competition" data-featured-item="0" show-only-megamenu-desktop="0"
                    data-drupal-link-system-path="node/1639"> <span class="link-title"> Wireline </span>
                  </a>
                </li>
                <li id="" class="offices menu-item" style="">
                  <a href="/offices-bureaus" data-drupal-link-system-path="node/9"> <span class="link-title"> Offices
                    </span>
                  </a>
                </li>
              </ul>




            </div>
          </div>
        </div>
      </nav>
    </div> -->

    <!-- <div class="navbar_right">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="svg-inline--fa fa-bars fa-w-14 fa-2x" aria-hidden="true" focusable="false" data-prefix="fas"
          data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
          <path fill="currentColor"
            d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
          </path>
        </svg>
      </button>
      <div class="ml-auto" id="block-search-form">
        <div id="block-fcc-blocks-search-magnifying-glass" class="block block-fcc-blocks first odd">
          <a role="button" aria-controls="navigation" tabindex="0" class="magnifying-glass" title="Search">
            <span class="btn-inner btn-inner-menu">Search</span>
          </a>
        </div>
        <div class="block block--globalsearchblock">
          <form class="search-block-form container form-inline" data-drupal-selector="search-block-form" action="/"
            method="post" id="search-block-form" accept-charset="UTF-8">
            <button aria-label="Close" class="close-button">X</button>
            <div
              class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label form-group">
              <label for="edit-keys" class="visually-hidden">Search</label>
              <input data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="20"
                maxlength="128" placeholder="Search" class="form-search form-control">
            </div>
            <input data-drupal-selector="form-fmsvx8o3omwhij26nooilh8q69yb45etixhoqvx-fge" type="hidden"
              name="form_build_id" value="form-FMSVX8O3OMwHIj26noOILh8Q69Yb45EtixHoQVx-fGE" class="form-control">

            <input data-drupal-selector="edit-search-block-form" type="hidden" name="form_id" value="search_block_form"
              class="form-control">
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
              id="edit-actions"> <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op"
                value="Search" class="button js-form-submit form-submit btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div> -->
  </div>
</nav>