<div class="summary-container">
  <nav class="us-flex">
    <div class="">
      <h1>Certify && Submit</h1>
    </div>
    <div>
      <ul class="us-item">
        <li><a>attachments</a></li>
        <li><a>print</a></li>
        <li><a>Help</a></li>
        <li><a>Quit</a></li>
      </ul>
    </div>
  </nav>
  <hr />
  <div class="card-container">
    <div class="left__card">
      <div>
        <p>Selection reqiured</p>
        <div class="format">
          <h4>Format Defaulter, Delinquency Statement</h4>
          <button class="btns-left">Help</button>
        </div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          beatae reprehenderit quod cum tempore, soluta sit culpa nobis nam
          debitis consequuntur commodi nisi. Velit provident placeat
          consequuntur nesciunt necessitatibus pariatur?
        </p>
        <form>
          <label for="radio1">
            <input type="radio" id="radio1" name="radioGroup" />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et tempore
            quia consequatur quis minus doloribus placeat dicta voluptas!
            Impedit, quod voluptas velit quo modi iusto itaque quas consequuntur
            unde assumenda.
          </label>

          <label for="radio2">
            <input type="radio" id="radio2" name="radioGroup" />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
            eaque quos modi maxime iusto nulla adipisci saepe quam? Ipsa quasi
            quidem numquam inventore maiores tempora omnis sint vitae voluptates
            quia.
          </label>
        </form>
      </div>
      <hr />
      <div class="btns">
        <button class="btns-left">back</button>
        <button class="btns-right">Continue to Certify</button>
      </div>
    </div>
    <div class="right__card">
      <p class="application-header">APPLICATION SECTIONS</p>
      <div>
        <ul class="ul">
          <li class="li"><a>Application Information</a></li>
          <li class="li"><a>Permit Selection</a></li>
          <li class="li"><a>New Intrant Eligibility</a></li>
          <li class="li"><a>Agreements</a></li>
          <li class="li"><a>OwnerShip</a></li>
          <li class="li"><a>Summary</a></li>
          <li class="li"><a>Certify && Submit</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
